[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
django-heroku = "*"
Django = "*"
psycopg2-binary = "*"
requests = "*"
djongo = "*"
dnspython = "*"
sendgrid = "*"

[requires]
python_version = "3.8"
