[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
responses = "*"

[packages]
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
django-heroku = "*"
Django = "*"
psycopg2-binary = "*"
requests = "*"
djongo = "*"
dnspython = "*"
social-auth-app-django = "*"
sendgrid = "*"
python-social-auth = {extras = ["django"], version = "*"}
pillow = "*"

[requires]
python_version = "3.8"
