body {
    background-color: rgb(217, 255, 249);
}

.blackText {
    color: black;
}

.linkColor {
    color: red;
}

.card {
    background-color: lightskyblue;
}

.landingPage {
    background-color: darkblue;
    color: white;
}

.center {
    margin: auto;
    width: 50%;
  }

  .key {
      opacity: 0%;
      transition: transform 1s ease-out;
  }

  .parent:hover .key {
      transform: translateX(50%);
      animation: fade-in 2s;
  }

  @keyframes fade-in {
    0% {
        opacity: 1;
    }  

    100% {
        opacity: 1;
    }
  }

.thumbnail {
    position: relative;
}

.caption {
    text-shadow: 8px 8px black;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
}

.bigText {
    font-size: 1000%;
}
.comment {
    background-color: whitesmoke;
}