<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <title>Privy</title>
</head>

<body style="margin: auto; width:70%">
    <div id="app"></div>
    <h1>Privacy</h1>

    <h2>Show email?</h2>
    <sub>This option will show your email on your page</sub>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>

    <h3>Private page?</h3>
    <sub>This option will make your page invisible to people who do not follow you</sub>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>

    <button type="button">Save</button>

</body>
